@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Oswald',sans-serif;
}

@keyframes color {
  0%   { background: #ffffff;}
  20%  { background:#50f63a ; }
  40%  { background: #aabb3d; }
  60%  { background: #44a3a3; }
  80%  { background: #53cf55; }
  100% { background: #44a3a3; }
}


body {
  background: #ec9e0e;
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

:root {
  --clr-neon:rgb(0, 191, 255);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.neon-button {
  font-size: 2rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color:#0b001c;
  border:none;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin-left: 8px;
  height:auto;
  
  /* box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon); */
 
  position: relative;
}

.neon-button::before {

  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  /* top: 120%;
  left: 0;
  width: 100%;
  height: 100%; */
  
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;

}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
  border-radius: 10px;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.row1{

    width: 100%; 
    margin-bottom: 40px;
} 
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
a:hover{
  color:rgb(251, 120, 19);
}
#img{
    float: right;
}
.bg{

    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-home{
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,203,91,1) 100%);
}
.h1{
    color:black; 
    font-size: bold; 
    text-align: center;
}

.row2{ 
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
  /* padding: 30px 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  padding-left: -5px;
  padding-top:40px;
  padding-bottom: 50px;
}
.row2 ul
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.row2 ul li
{
    list-style: none;
    margin-left: 20px;
    justify-content: space-between;
}
.row2 ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #0b001c;
    font-size: 1.5em;
    border-radius: 20px;
    transition: 0.5s;
    justify-content: space-between;
}

.scroll{
     
  font-family: 'Oswald',sans-serif;
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(11, 4, 4),rgb(11, 11, 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation-name: rightToLeft;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rightToLeft {
0% {
  transform: translateX(100%);
}
100% {
  transform: translateX(-50%);
}
}

.main{
        font-family: Oswald;
        font-size: 40px;
        background: -webkit-linear-gradient(#0c0c0c,rgb(9, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 200px;

    
}
#diet{ 
    color: black;
    font-size: 27px;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;

}


.row3 {

    background-color:lightcoral;
    text-align: center;
    top: 200px;

}
.h2{
    color: black; 
    text-align: center;
}
#row4{
  width:100%; 
  text-align: center; 
  float: left ; 
  padding: 2px;
  color:white;
}
.imgsrc1{
  border-radius: 10px;
} 

.imgsrc{
    border-radius: 10px;
} 

  #about1{ 
    
    color: black;
    font-size: 27px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
  }  
  .row4-col1{
    float: left; 
    width: 70%;
    text-align: center;
    padding: 2px;
  } 
  .row4-col2{
    float: right; 
    width: 30%;
    text-align: center;
    padding: 2px;
  } 
  #diet3{  
    margin-top: 650px;
    text-align: left;
    color: black;
    font-size: 30px;
    justify-content: right;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;

}
#diet4{  
    text-align: left;
    margin-top: 100px;

    color: black;
    font-size: 30px;
    justify-content: right;
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;

}
#diet5{  
    text-align: left;
    margin-top: 100px;

    color: black;
    font-size: 30px;
    justify-content: right;
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
}
#diet6{  
    text-align: left;
    margin-top: 100px;

    color: black;
    font-size: 30px;
    justify-content: right;
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
}
#diet7{  
    text-align: left;
    color: black;
    margin-top: 100px;

    font-size: 30px;
    justify-content: right;
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
}
#diet8{  
    text-align: left;
    margin-top: 100px;

    color:black;
    font-size: 30px;
    justify-content: right;
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
}
#diet9{  
    text-align: left;
    margin-top: 100px;

    color:black;
    font-size: 30px;
    justify-content: right;
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
}
#diet3a{ 
  background-color:antiquewhite ;
  justify-content: right;
  margin:0px;
  margin-top: 300px;
  
  margin-right: 30px;
  float: right;
  width: 40%;
  background-size: cover;
  border: 6px solid #333;

}
#diet3b{ 
    background-color:antiquewhite ;
    justify-content: right;    
    margin-top: 100px;

    margin:0px;
    float: right;
    margin-right: 30px;
    width: 40%;
    background-size: cover;
    border: 6px solid rebeccapurple;
  
  }
  #diet3c{ 
    background-color:darkgrey ;
    justify-content: right;
    margin-top: 100px;

    margin:0px;
    margin-right: 30px;

    float: right;
    width: 40%;
    background-size: cover;
    border: 6px solid brown;
  
  }
  #diet3d{ 
    background-color:#3B5998;
    justify-content: right;
    margin-top: 100px;

    margin-top:50px;
    float: right;
    margin-right: 30px;

    width: 40%;
    background-size: cover;
    border: 6px solid black;
  }
  #diet3e{ 
    background-color:brown;
    justify-content: right;
    margin-top: 100px;

    margin:80px;
    margin-top:50px;
    margin-right: 30px;

    float: right;
    width: 40%;
    background-size: cover;
    border: 6px solid black;
  }
  #diet3f{ 
    background-color:darkgrey ;
    justify-content: right;
    margin-top: 100px;

    margin:0px;
    float: right;
    margin-right: 30px;

    width: 40%;
    background-size: cover;
    border: 6px solid black;
  }

 
.imgsrc:hover
{
  transition: 4s;
  animation: turnaround;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes turnaround {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}